body{
	margin:0;
	color:#fff;
	background:#262626;
	font:600 16px/18px 'Open Sans',sans-serif;
  color: #262626;
  min-height: 100vh;
}
h5{
  color: #262626;
}
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}
button{
  margin-top: 15px;
}
.cartas{
  margin-top: 20px;
}
